body {
  font-size: 14px;
  color: black;
  line-height: 1.8;
}

h2 {
    font-size: 40px;
  //  padding-top: 5px;
}

h3 {
    font-size: 35px;
   //  padding-top: 5px;
}

h4 {
    font-size: 30px;
//     padding-top: 10px;
}

h5 {
    font-size: 30px;
//     padding-top: 10px;
}

p {
 //   margin-bottom: 3em;

}